.top-container{
  background: #e3fdfd;

}

.navbar{

  padding-bottom: 0;
}
.hill{
  width: 70%;
  height: auto;
}
body {
  margin: 0;
  text-align: center;
  font-family: arial;
  font-family: 'Merriweather', serif;
  font-size: 1em;

}
h1{
  margin-top: 50px;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #71c9ce;
  font-weight: normal;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #71c9ce;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #a6e3e9;
    font-weight: normal;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color: #a6e3e9;
  font-weight: normal;
}

h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
p {
  font-family: 'Montserrat', sans-serif;
}
a {
  font-family: 'Montserrat', sans-serif;
}
li {
  font-family: 'Montserrat', sans-serif;
}
ul {
  font-family: 'Montserrat', sans-serif;
}

table{
  margin: 0 auto;
  border-spacing: 1px;

}
.skill-row{

  text-align: left;
  line-height: 1.5;
}
.jackyprofile{
  height: 200px;
  width: 200px;
  margin-bottom: 1%;

}
.BME{
  width: 150px;
  float: left;

  border-radius: 50%;
  margin-right: 30px;

}

.web{
  width: 150px;
  background-color: #71c9ce;
  float: right;
  margin-left: 30px;

}
.CV {
  padding-right: 2rem;
}
.top-cloud{
  width: 20%;
  position: relative;
  left:20%;
}
.bottom-cloud{
  width: 20%;
  position: absolute;
  left:10%;
}

.project-img{
  padding: 1%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.project-card{
  margin-bottom: 20px;
}

.card-text{
  margin-top: 20px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  margin-top: 5%;
  margin-bottom: 5%;
  border-width: 10px;
  width: 10%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0 10px;
}
.bottom-container{
  background-color: #f1f1f1;
}
.contact-detail a{
  text-decoration: none;
  font-size: 3rem;
  color:   #a6e3e9;
}
.contact-detail a:hover{
  color: #b8e9ee;

}
.footer-link{
  margin-top: 5px;
  margin: 10px;
  padding: 5px;
}
.footer{
  padding: 30px;
  font-size: 15px;
}

.yourElement {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}