@import "main__variable";


/*Google Lato font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body{
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-size: $theme-font-size;
}