@import "./variable";

.wrapper {
  height: $content-height;
  display: flex;
  flex-direction: column;
  position: relative;
  &:hover {
    .container {
      top: $content-height - $picture-height;
    }
    .name{
      top:0;
    }
    .description{
      visibility: visible;
      top:$content-height - $picture-height;
      bottom:0;
    }
  }
}

.container {
  position: relative;
  top: 0;
  width: $picture-width;
  height: $picture-height;
  margin: 0;
  overflow: hidden;
  transition: top $transition-time;
}
.picture {
  width: 430px;
}

.description{
  bottom: $content-height - $picture-height;
  top:$content-height;
  transition-property: bottom top;
  transition-duration: $transition-time;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}
.name {
  transition-property: top bottom;
  transition-duration: $transition-time;
  width: 100%;
  top: $picture-height;
  position: absolute;
  height: $content-height - $picture-height;
  background-color: $theme-color-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-weight: 400;
    margin: 0;
    color: white;
  }
}
