@import './../../../../variable';

.enter {
  width: 0;
}
.enterActive {
  width: $content-width;
  transition: width 0.5s;
}
.exit {
  width: $content-width;
}
.exitActive {
  width: 0;
  transition: width 0.5s;
}
// .enter {
//   opacity: 0;
// }
// .enterActive {
//   opacity: 1;
//   transition: opacity 1s;
// }
// .exit {
//    opacity: 1;
// }
// .exitActive {
//     opacity: 0;
//   transition: opacity 1s;
// }