$content-maxWidth: 2000px;
$theme-color-dark:#0f4c75;
$theme-color-darkerst:#1b262c;
$theme-color-light:#3282b8;
$theme-color-lightest:#bbe1fa;
$content-maxHeight: 800px;

.content__container {
    max-width: $content-maxWidth;
    background-color: $theme-color-dark;
    height: $content-maxHeight;
}