
@import './../../variable';

.wrapper{
  position: absolute;
  top: 45px + $content-height;
  bottom: 0;
  display: flex;
  left: 45px;
  right:45px;
  justify-content: space-between;
  border-right: none;
}
.copyright{
  position: relative;
  bottom:-5px;
  font-size: 0.8em;
  color:$theme-color-ultra-white;
}
.iconWrapper{
  display: flex;
}