
@import './../../variable';

.wrapper{
  position: absolute;
  top: 45px + $content-height;
  bottom: 0;
  display: flex;
  left: 45px;
  right:44px;
  border-right: none;
}
.filler{
  flex:1;
  border-right:solid 1px $theme-color-dark-blue;
}
.copyright{
  position: relative;
  bottom:-15px;
  font-size: 0.7em;
  color:$theme-color-ultra-white;
}
.iconWrapper{
  display: flex;
}