@import './../../index.scss';

.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $theme-background;
}
.layout{
  position: relative;
  z-index: 10;
  box-shadow: 2px 6px 13px -4px rgba(46,61,102,0.85);
}
.particle{
  position: fixed;
  height:100%;
  width:100%;
}