@import './../../../../variable';

.enter {
  width: 0;
}
.enterActive {
  width: $content-width;
  transition: width 0.5s;
}
.exit {
  width: $content-width;
}
.exitActive {
  width: 0;
  transition: width 0.5s;
}
